body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;

	width: 90vw;
	max-width: 90vh;
	min-width: 300px;

	height: 90vw;
	max-height: 90vh;
	min-height: 300px;

	text-align: center;
}
.board {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;

	width: 64vw;
	max-width: 64vh;
	min-width: 240px;

	height: 64vw;
	max-height: 64vh;
	min-height: 240px;
}
.row {
	height: 12.5%;
}
.square {
	position: relative;
	min-width: 30px;
	min-height: 30px;
	max-width: 8vh;
	max-height: 8vh;
	width: 8vw;
	height: 8vw;
	display: inline-block;
}
.row0::before,
.row7::before{
	content: attr(data-content-before);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.row0::before {
	top: -20px;
}
.row7::before{
	bottom:-20px;
}
.column0::after,
.column7::after {
	content: attr(data-content-after);
	position: absolute;
	height: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.column0::after {
	left: -20px;
}
.column7::after {
	right: -20px;
}